<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>颜色管理</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">菜单</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/predict">命名实体识别</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataset">数据集管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/model">模型管理</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/color">颜色管理</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h2 class="text-center">颜色管理</h2>
    <form action="/add_color" method="POST" class="mt-4">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="颜色名称" name="name" required>
            </div>
            <div class="col">
                <input type="color" class="form-control" placeholder="HTML颜色代码" name="html_color" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="R值" name="R" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="G值" name="G" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="B值" name="B" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">添加颜色</button>
            </div>
        </div>
    </form>
    <hr>
    <h3 class="mt-4">颜色列表:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>颜色名称</th>
            <th>HTML颜色代码</th>
            <th>R值</th>
            <th>G值</th>
            <th>B值</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for color in colors %}
        <tr>
            <td>{{ color.name }}</td>
            <td class="text-left">
                <div class="legend-item"><span
                        style="background-color: rgb({{ color.R }}, {{ color.G }}, {{ color.B }});"></span>{{
                    color.html_color }}
                </div>
            </td>

            <td>{{ color.R }}</td>
            <td>{{ color.G }}</td>
            <td>{{ color.B }}</td>
            <td>{{ color.create_time }}</td>
            <td>
                <a href="/delete_color/{{ color.id }}" class="btn btn-danger btn-sm">删除</a>
                <a href="/update_color/{{ color.id }}" class="btn btn-primary btn-sm ml-2">更新</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3>颜色搜索:</h3>
    <form action="/search_color" method="POST">
        <div class="form-group row">
            <label for="column" class="col-sm-2 col-form-label">搜索关键词:</label>
            <div class="col-sm-4">
                <select class="form-control" id="column" name="column">
                    <option value="name">颜色名称</option>
                    <option value="html_color">HTML颜色代码</option>
                    <option value="R">R值</option>
                    <option value="G">G值</option>
                    <option value="B">B值</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="关键词" required>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </form>
</div>
<script>
    // 获取颜色选择器元素
    var colorPicker = document.querySelector('input[type="color"]');
    // 获取RGB输入框元素
    var inputR = document.querySelector('input[name="R"]');
    var inputG = document.querySelector('input[name="G"]');
    var inputB = document.querySelector('input[name="B"]');

    // 监听颜色选择器变化事件
    colorPicker.addEventListener('input', function () {
        // 获取选择的颜色值
        var selectedColor = colorPicker.value;
        // 将颜色值转换为RGB值
        var rgb = hexToRgb(selectedColor);
        // 更新RGB输入框的值
        inputR.value = rgb.r;
        inputG.value = rgb.g;
        inputB.value = rgb.b;
    });

    // 函数：将十六进制颜色转换为RGB值
    function hexToRgb(hex) {
        var bigint = parseInt(hex.substring(1), 16);
        var r = (bigint >> 16) & 255;
        var g = (bigint >> 8) & 255;
        var b = bigint & 255;
        return {r: r, g: g, b: b};
    }
</script>
</body>
</html>
