/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.entity {
    background-color: yellow;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px;
    margin-right: 2px;
}

#outputText {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: calc(1em + 5px); /* 假设默认行高为 1em，加上 padding 的总和 */
}

#legend {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.legend-item {
    margin-right: 20px;
    margin-bottom: 10px;
}

.legend-item span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
}
